.image-card-conatainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image-card {
  width: 30%;
  background-color: rgb(204, 113, 29);
  border: 2px solid rgb(128, 58, 0);

  .image {
    width: 100%;
  }
}
