<div class="container">
  <h1>Angualr HTTP Request</h1>
  <div class="image-card-conatainer" (click)="getDataFromApi()">
    <div class="image-card">
      <img class="image" src="{{}}" />
    </div>

    <!-- <div class="image-card">
      <img class="image" src="../assets/image/users-2.svg " />
    </div>
    <div class="image-card">
      <img class="image" src="../assets/image/users-3.svg " />
    </div>
    <div class="image-card">
      <img class="image" src="../assets/image/users-4.svg " />
    </div>
    <div class="image-card">
      <img class="image" src="../assets/image/users-5.svg " />
    </div>
    <div class="image-card">
      <img class="image" src="../assets/image/users-6.svg " />
    </div>
    <div class="image-card">
      <img class="image" src="../assets/image/users-7.svg " />
    </div>
    <div class="image-card">
      <img class="image" src="../assets/image/users-8.svg " />
    </div>
    <div class="image-card">
      <img class="image" src="../assets/image/users-9.svg " />
    </div>
    <div class="image-card">
      <img class="image" src="../assets/image/users-10.svg " />
    </div> -->
  </div>
</div>

<button (click)="getDataFromApi()">Get Data FromAPI</button>
<ul *ngFor="let d of data | async">
  <li>{{ d.id }}</li>
  <li>{{ d.name }}</li>
  <li>{{ d.username }}</li>
</ul>
